body {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	text-align: justify;
	color: #1A2734;
	position: relative;
}
.page-template-page-services .col__item{
	height: auto;
}
.page-template-page-services h5{
	color: #000000;
}
.page-template-page-services .btn__menu{
	width: auto;
	display: inline-block;
}
.page-template-page-services .intro__text{
	margin-bottom: 45px;
}
.page-template-page-services .col__item--center{
	padding: 3px 0;
}
.page-template-front-page .case:nth-child(1) {
	margin-bottom: 100px;
}
.page-template-front-page .case:nth-child(1) .case__images{
	background: url('../images/intro-double.svg') no-repeat center;
	background-size: contain;
}
.page-template-page-services .case__inner--black .case__title a, .page-template-page-services .case__inner--black .case__text, .page-template-page-services .case__inner--black .case__list ul li{
	color: #ffffff;
}
.page-template-page-services .case__inner--black{
	background: #000000;
	position: relative;
	z-index: 1;
}
.page-template-front-page .our-cases{
	margin-top: 100px;
}

/* breadcrumb */


.breadcrumb > span:before{
	content: '';
	width: 35px;
	height: 8px;
	display: inline-block;
	background-image: url('../images/icons/navi-arrow.svg');
	margin-right: 15px;
}
.breadcrumb > span{
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
}
.breadcrumb > span:not(:last-child){
	margin-right: 15px;
}
.breadcrumb {
	left: 12%;
    position: absolute;
    color: #ffffff;
    z-index: 10;
    top: 35px;
}
.breadcrumb span.current-item{
	color: rgba(255,255,255, .5);
}
.breadcrumb a, .breadcrumb span{
	font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
	text-decoration: none;
}

body.active {
	overflow: hidden;
}


.grid {
	padding: 0 110px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.grid span {
	height: 100%;
	width: 1px;
	z-index: 1;
	background: rgba(230, 230, 230, .3);
}

body section{
	padding: 0 110px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/* Container */
.container {
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
}

/* Intro */
.intro {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #000000;
	-webkit-background-size: cover;
	background-size: cover;
}

.intro__inner {
	text-align: left;
}

.header {
	max-width: 1980px;
	position: fixed;
	width: 110px;
	height: 100%;
	z-index: 1000;
}

.header__inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	max-height: 100%;
	height: 100%;
}

body.active .header__logo, body.active .header__subscribe {
	display: none;
}

.header__logo {
	height: 35%;
	color: #1A2734;
	width: 100%;
	background: #FFFFFF;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

.logo__img {
	padding: 33px 25px;
    margin-bottom: 17px;
}

.logo__text {
	transform: rotate(-90deg);
}


.header__subscribe {
	height: 35%;
	width: 100%;
	background: #FF7246;
	cursor: pointer;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content:flex-end;
	padding-bottom: 30px;
}

.header__subscribe:hover .subscribe__text:after {
	opacity: 1;
}
.grid{
	display: flex;
}
.loaderArea {
    background: #000000;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
}
@keyframes animate {
	0% {
	  opacity: 0;
	  transform: scale(0);
	}
	 
	100% {
	  opacity: 1;
	  transform: scale(1.4);
	}
  }
.loader {
	height: 150px;
    width: 180px;
    position: absolute;
    background: url(../images/icons/logo-prelouder.svg) no-repeat center;
    top: 50%;
    margin-top: -90px;
    left: 50%;
    margin-left: -125px;
    background-size: contain;
    animation: animate 1s linear;
}
.nav {
	opacity: 0;
	width: 0;
	height: 0;
	position: fixed;
	background: #000000;
	padding: 0 110px;
	transition: all .3s linear;
}
body.active .grid span{
	z-index: 16;
}
body.active .nav {
	opacity: 1;
	height: 100%;
	z-index: 15 !important;
	width: 100%;
}

.nav__logo {
	width: 100%;
	margin: 40px auto 100px auto;
    text-align: center;
}

.nav__logo img{
	fill: #ffffff;
}

.nav__inner {
	width: 80%;
	
}

.nav__title {
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	line-height: 80px;

	color: #FFFFFF;
}

.nav__subtitle {
	font-style: normal;
	font-weight: 300;
	font-size: 60px;
	line-height: 69px;

	color: #FFFFFF;
}
.logo__text{
	color: #000000;
	font-family: Roboto, sans-serif;
}

.nav__cat {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	margin-top: 100px;
	list-style-type: none;

}
.nav__cat li a{
	color: #ffffff;
	display: inline-block;
	transition: all .3s linear;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 57px;
}
.nav__cat li:before{
	display: none;
}
.nav__cat li{
	width: 33.333%;
	margin-bottom: 60px;
}

.nav__cat li a:hover{
	color: #FF7246;
	transform: rotate(2.55deg);
	text-decoration-line: underline;
}

.menu__social {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	background: #ffffff;
	position: fixed;
	width: 110px;
	height: 24.5%;
	left: 0;
	bottom: 0;
    flex-direction: column;
    justify-content: space-around;
}


.switcher-lang{
	z-index: 111;
    position: absolute;
    right: 145px;
    top: 20px;
    color: #ffffff;
}
.switcher-lang li:before{
	display: none;
}
.switcher-lang li:nth-child(1):after{
	content: '';
    background: #ffffff;
    width: 40px;
    position: absolute;
    height: 1px;
    display: block;
    bottom: -24px;
    left: -3px;
    opacity: .15;
}
.switcher-lang li:nth-child(1){
	margin-bottom: 45px;
}
.switcher-lang .lang-item.current-lang a{
	color: #FF7246 !important;
}
.switcher-lang li{
	position: relative;
}
.switcher-lang li a{
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
	display: block;
	text-align: left;
}
.nav__footer {
	width: 100%;
	height: 60px;
	position: absolute;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 0 -110px;
	padding: 0 110px;
	bottom: 35px;
}
footer{
	position: relative;
	z-index: 5;
}
.nav__footeritem {
	width: 25%;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	align-self: center;
	color: #FFFFFF;
}

.nav__footeritem:hover{
	color: #FF7246;
}


.subscribe__text {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	text-transform: uppercase;
	transform: rotate(180deg);
	writing-mode: tb;
	align-self: center;
	margin-bottom: 20px;
	text-decoration: none;
}
.subscribe__text:hover{
	text-decoration: underline;
}


.subscribe__icon {
	align-self: center;

}


.header__social {
	height: 30%;
	width: 100%;
	background-color: #000000;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.social__icon {
	align-self: center;
}

.social__icon:hover path{
	fill: #FF7246;
}

.header__menu {
	position: fixed;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 110px;
	height: 122px;
	background: #FF7246;
	right: 0;
    top: 0;
    cursor: pointer;
}

body.active .header__social {
	background: #ffffff;
    position: absolute;
    bottom: 0;
}

body.active .header__social path {
	fill: #000000;
}

body.active .social__icon:hover path{
	fill: #FF7246;
}



body.active .header__menu{
	background: #ffffff;
	transition: all .3s linear;
}

body.active .nav-toggle__title {
	display: none;
}

body.active .nav-toggle:before {
	top: auto;
    transform: rotate(-45deg) translateX(0);
    background: #FF7246;
}

body.active .nav-toggle:after {
	bottom: auto;
	width: 42px;
    transform: rotate(45deg) translateX(-1px);
    background: #FF7246;
}

body.active .nav-toggle {
	width: 42px;
	background: none;
}


.menu__item{
    margin: auto;
}

.nav-toggle:before,
.nav-toggle:after {
	position: relative;
	display: block;
	content: '';
	height: 2px;
	background: #FFFFFF;
	-webkit-transition: transform .3s linear;
	-o-transition: transform .3s linear;
	transition: transform .3s linear;
}

.nav-toggle:before {
	width: 42px;
	top: -6px;
}

.nav-toggle:after {
	width: 7px;
	bottom: -4px;
}

.nav-toggle {
	display: block;
	height: 2px;
	width: 29px;
	background: #FFFFFF;
}


.nav-toggle__title {
	margin-top: 11px;
	display: block;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 17px;

	color: #FFFFFF;
}

.intro {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.intro__inner {
	width: 50%;
	padding-left: 300px;
	-ms-align-self: center;
	align-self: center;
	padding: 0 60px 0 300px;
}

.intro__item {
	width: 50%;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	background: #ffffff;
}

.col__one, .col__two {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}

.col__one {
	width: 60%;
	padding: 0 5px;
}

.col__two {
	width: 40%;
}

.col__item {
	width: 100%;
	height: 33.333%;
}

.col__item img{
	width: 100%;
	object-fit: cover;
	height: 100%;
}

.col__item--center {
	padding: 5px 0;
}

.intro__title {
	font-style: normal;
	font-weight: bold;
	font-size: 130px;
	line-height: 149px;
	color: #FFFFFF;
}

.intro__subtitle {
	font-style: normal;
	font-weight: 300;
	font-size: 130px;
	line-height: 149px;
	color: #FFFFFF;
}
.intro__text p {
	word-break: break-all;
	white-space: normal;
}
.intro__text {
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 17px;
	text-align: justify;
	color: #FFFFFF;
}

.intro__photo {
	padding: 155px 0;
	width: 60%;
	-ms-align-self: center;
	align-self: center;
}
.intro__photo img {
	display: block;
	width: 100%;
	height: auto;
}
/* Case */
.case {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	position: relative;
	flex-wrap: wrap;
}
.case--team {
	display: block;
}
.case__inner {
	width: 50%;
	background: #ffffff;
	text-align: left;
	padding: 110px;
    align-self: center;
}
.case__images img{
	object-fit: cover;
}
.case__images {
	width: 50%;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	position: relative;
	z-index: 1;
}
.case__images:hover{
	transform: rotate(2.45deg);
}
.case__images img{
	max-height: 700px;
	width: 100%;
	position: relative;
	z-index: 1;
}
.case__subtitle:before{
	display: block;
	margin: auto 8px auto 0;
	content: '';
	width: 34px;
	height: 1px;
	background: #557386;
}
.case__subtitle {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	color: #557386;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.case__subtitle--white:before {
	color: #ffffff;
}
.case__subtitle--white {
	color: #ffffff;
}
.case__title {
	margin-top: 15px;
	font-style: normal;
	font-weight: bold;
	font-size: 80px;
	line-height: 92px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.case__title a{
	text-decoration: none;
	color: #000000;
}
.case__title a:hover{
	color: #ff7246;
	text-decoration: underline;
}
.case__title--white {
	color: #ffffff;
	margin-bottom: 15px;
}
.case__title--white a{
	color: #ffffff;
}
.case__title h2, h3{
	font-size: 60px;
}
.case__title h6 {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 80px;
	line-height: 92px;
	margin: auto;
}
.case__new {
	width: 61px;
	height: 28px;
	background: #8DDE4D;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	text-align: justify;
	color: #000000;
	padding: 5px 12px;
    border-radius: 11px 11px 11px 0;
}
.orange {
	color: #ff7246;
}
.black {
	color: #000000;
}
.case__text {
	margin: 30px 0;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	text-align: justify;

	color: #000000;
}

.case__text--white {
	color: #ffffff;
}

.case__more {
	text-align: end;
	transition: all .3s linear;
}

.case__more:hover{
	transform: rotate(-3.11deg);
	text-decoration: underline;
}

.case__more a{
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	color: #FF7246;
}

.case__more img{
	margin: auto 0 auto 12px;
}

.case__more--center {
	text-align: center;
	margin: 60px auto 80px auto;
}
.case__more--center a{
	position: relative;
	z-index: 5;
}
.case__list {
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	text-align: justify;
	color: #000000;
}
.case__list ul li{
	margin-bottom: 8px;
}

.case__list--white ul li{
	margin-bottom: 10px;
}
.case__list--white {
	color: #ffffff;
}

ul {
	padding: 0;
}

li {
    list-style-type: none;
}

li:before {
	display: inline-block;
	margin-right: 12px;
    content: '';
    width: 10px;
    height: 10px;
    background: #FF7246;
	border-radius: 8px;
}




/* Stat */
.stat {
	width: 50%;
	background: #000000;
	padding: 0 110px 0 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.stat__item {
	display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.stat__inner {
	width: 50%;
}

.stat__count {
	font-style: normal;
	font-weight: bold;
	font-size: 65px;
	line-height: 75px;

	color: #FFFFFF;
}

.stat__text {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;

	color: #FF7246;
}



/* Service */
.services {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	background-color: #000000;
}

.services__inner {
	width: 66%;
	text-align: left;
	padding: 110px;	
	padding-left: 0;
	padding-right: 0;
	margin-left: 115px;
}

.services__text {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 90px;
	width: 100%;
	flex-wrap: wrap;
}

.services__item {
	width: 33.3333%;
	margin-bottom: 55px;
	position: relative;
	z-index: 5;
}

.services__title {
	margin-bottom: 18px;

	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	text-transform: uppercase;

	color: #FFFFFF;
}

.services__subtitle {
	margin-top: 12px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	
	color: #FFFFFF;
}

.services__form {
	width: 28%;
	background-color: #161616;
}



/* Form */
.form__inner {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 120px 110px 90px 116px;
	flex-direction: column;
}

.form__inner--subscribe {
	width: 50%;
	padding: 120px 110px 10px 80px;
	margin: auto;
	padding-left: 0;
}

.form__title {
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	line-height: 36px;

	color: #FFFFFF;
}

.form__img {
	margin: 30px 0;
}

.form__img img{
	width: 100%;
}

.form__item {
	display: flex;
    flex-direction: column;
    padding: 0 7%;
}

.form__text {
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 20px;
	text-align: center;

	color: #FFFFFF;

	margin-bottom: 20px;

}

.form__nick {
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 11px;
	margin-bottom: 10px;
	color: #FFFFFF;
	opacity: 0.75;
	text-align: left;
}

.form__input {
	border: 0;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	height: 25px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 15px;
	background: transparent;
	color: #FFFFFF;
	padding-bottom: 8px;
	margin-bottom: 30px;
	position: relative;
}

.form__input--white {
	border-bottom: 2px solid rgba(255,255,255,0.2);
}

.form__input::placeholder {
	font-size: 13px;
	color: #ffffff;
}

.form__input:focus {
	outline: 0;
	border-bottom: 1px solid #FF7246;

}

.form__description {
	margin-bottom: 12px;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	

	color: #FFFFFF;
}

.form__input--ask {
	height: 60px;
	padding: 10px;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	border: 1px solid rgba(255,255,255,0.2);
	color: #FFFFFF;
	font-family: Ubuntu, sans-serif;
}

.form__btn, .btn__menu {
	margin-top: 25px;
	padding: 20px;
	text-align: center;
	height: auto;
	width: 100%;
	background: #FF7246;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	cursor: pointer;
	border: 0;
	color: #FFFFFF;
	transition: all .3s linear;
	position: relative;
}

.btn__menu {
	width: 80%;
    margin: auto;
}

.form__btn--intro {
	width: 50%;
}

.form__btn--black {
	background: #000000;
}

.form__btn:hover, .btn__menu:hover {
	transform: rotate(1.34deg);
	text-decoration-line: underline;
}

.subscribe__before{
	width: 250px;
	display: block;
	background: #ffffff;
}



.subscribe {
	background-color: #FF7246;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.subscribe__inner {
	padding-top: 120px;
	margin: 0 auto;
	width: 50%;
}

.subscribe__categ {
	display: flex;
	justify-content: center;
	max-width: 750px;
}

.categ {
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;

	text-transform: uppercase;

	color: #FFFFFF;
}

.categ:after{
	display: inline-flex;
	margin: 0 12px;
	content: '';
	height: 6px;
	width: 6px;
	border-radius: 20px;
	background: #FFFFFF;
}

.subscribe__categ--footer .categ {
	font-size: 16px;
	font-weight: bold;
	transition: all .3s linear;
	cursor: pointer;
}

.subscribe__categ--footer .categ:hover{
	color: #000000;
	text-decoration: underline;
	transform: rotate(-7.29deg);
}

.subscribe__categ--footer .categ:after{
	background: #000000;
}

.categ:last-child:after{
	display: none;
}

.subscribe__categ--footer .categ:last-child:after{
	display: none;
}

.subscribe__info {
	padding-bottom: 130px;
	margin-top: 30px;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 13px;

	text-align: center;

	color: #FFFFFF;

	opacity: 0.5;
}

.request {
	width: 100%;
	background: #000000;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: column;
	background-image: url('../images/globus-bg.svg');
	background-repeat: no-repeat;
	background-position: 104% 143%;
	padding-top: 170px;
}
.request__inner .form__input--ask{
	height: 140px;
}
.request__inner .form__btn{
	margin-top: 0;
}
.request__inner {
	padding-top: 50px;
	width: 25%;
	margin: auto;
	display: flex;
	flex-direction: column;
	max-width: 360px;
}
.footer__contact {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.contact {
	width: 50%;
	background: #FF7246;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

}
.contact__inner {
	margin: auto;
	text-align: left;
}
.contact__subtitle {
	margin-top: 25px;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 5px;
	color: #FFFFFF;
}
.contact__text {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;

}

.contact__text a{
	text-decoration: none;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 26px;

	color: #FFFFFF;
}
.contact__icon a:hover svg{
	opacity: 1;
}
.contact__icon a svg {
	opacity: 0.7;
		-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.contact__text a:hover {
	text-decoration-line: underline;
}

.contact__icon {
	margin-top: 10px;
	margin-bottom: 120px;
}

.contact__icon a{
	margin-right: 25px;
	text-decoration: none;

}

.footer__copyrite {
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	margin: 35px 0;
	color: #FFFFFF;
}

.map {
	width: 50%;
}

.map iframe{
	width: 100%;
	height: 100%;
}

.team {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}

.team__item {
	width: 25%;
	margin-bottom: 50px;
	text-align: left;
}

.team__img {
	width: 100%;
	cursor: pointer;
	-webkit-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: all .3s linear;
}

.team__img:hover{
	-webkit-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
}

.team__img img{
	width: 100%;
}

.team__name {
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 40px;
	text-transform: uppercase;

	color: #000000;
}

.team__prof {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;

	color: #000000;
}

.hide {
	display: none;
}

@media (max-width: 1230px) {



@media (max-width: 990px) {

}

@media (max-width: 768px) {

	.header {
		width: 100%;
		height: 100px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	.header__inner {
		width: 100%;
	}

	.header__menu {
		width: 103px;
		height: 100px;
		position: absolute;
	}

	.nav {
		padding: 0 5%;
	}

	.nav__inner {
		width: 100%;
	}

	.nav__logo, .menu__social {
		display: none;
	}

	.nav__title {
		font-size: 40px;
		line-height: 50px;
	}
	
	.nav__subtitle {
	    line-height: 40px;
	    font-size: 40px;
	}

	.nav__cat {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		text-align: center;
	}

	.nav__cat a {
		font-size: 40px;
		width: 100%;
		margin-bottom: 32px;
	}

	.nav__footer .btn__menu {
		display: none;
	}

	.nav__footer {
		position: relative;
		flex-direction: column;
		margin: 0;
		padding: 0;
	}

	.nav__footeritem {
		width: 100%;
		text-align: center;
		margin: 10px 0;
	}

	.header__logo {
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		height: 100%;
		width: 100%;
		align-items: center;
	}


	.logo__img {
		margin: 0
	}

	.logo__text {
		transform: rotate(0);
	}

	.header__subscribe{
		display: none;
	}

	.header__social {
		display: none;
	}

	.intro__inner {
		padding-left: 5%;
	}

	.intro__inner .case__subtitle--white {
		display: none;
	}

	.intro__title{
		font-size: 70px;
    	line-height: 60px;
	}

	.intro__subtitle {
	    font-size: 70px;
   		line-height: 60px;
	}

	.case {
		flex-direction: column;
	}

	.case__inner {
		width: 100%;
	    padding: 5%;
	}

	.stat {
		width: 100%;
		padding: 0;
	}

	.stat__inner {
	    margin: 100px auto;

	}

	.stat__count {
		font-size: 50px;
	}

	.services {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.services__inner {
		width: 100%;
		padding: 10% 5%;
	}

	.case__title {
		font-size: 50px;
	}

	.case__subtitle {
		font-size: 12px;
	}

	.services__item {
		width: 50%;
	}

	.services__form {
		width: 100%;
	}

	.form__inner {
		padding: 10% 20%;
	}

	.case__title--white {
	    font-size: 42px;
	    text-align: center;
	}

	body section {
		padding: 0;
	}

	.case__images {
		width: 100%;

	}

	.case__title h2 {
		font-size: 34px;
		text-decoration: underline;
	}

	.case__title h3 {
		font-size: 50px;
		text-decoration: none;
	}

	.case__text {
		margin-top: 0;
	}

	.case__more--center {
		text-decoration: underline;
	}

	.subscribe__before {
		display: flex;
	    flex-direction: column-reverse;
		width: 7%;
	}

	.subscribe__black {
		background: #000000;
		height: 7%;
	}

	.subscribe__inner {
		width: 100%;
	}
	
	.subscribe__categ {
		margin-top: 25px;
		flex-wrap: wrap;
	}

	.form__inner--subscribe {
	    width: 95%;
	}

	.subscribe__info {
		width: 70%;
    	margin: auto;
	}

	.request__inner {
		width: 50%;
		margin-bottom: 5%;
	}

	.contact {
		width: 100%;
	}

	.contact__icon a{
		margin-right: 15px;
	}

	.map {
		display: none;
	}




	.intro__item {
		display: none;
	}

	.intro__inner {
		padding: 0 5%;
	}

	.intro__text {
	    margin-top: 30px;
	}
	
	.form__btn--intro {
	    width: 90%;
	}

	.case__title h6 {
		font-size: 50px;
    	line-height: 57px;
	}

	.case__list li{
	    margin: 15px 0;
	}

	.team {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.team__item {
		width: 100%;
		padding: 0 7%;
		text-align: center;
	}

}
@media (max-width: 575px) {
	.intro {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.intro__inner {
	    width: 100%;
	    text-align: center;
	    margin: auto;
	}
	.intro__photo {
		width: 100%;
	}

	.case__inner {
	    padding: 14% 5%;
	}

	.case__title {
		font-size: 50px;
		margin: 0;
	}

	.stat__count {
		font-size: 32px;
	}
	.stat__inner {
		margin: 25px auto;
	}
	.services__subtitle {
		display: none;
	}
	.services__text {
		margin-top: 40px;
	}
	.services__item {
		margin-bottom: 32px;
	}
	.form__inner {
		padding: 10% 7%;
	}

	.form__item {
		padding: 0;
	}

	.subscribe__before {
		display: none;
	}

	.case__title h3 {
		line-height: 56px;
	}

	.subscribe__info {
		padding-bottom: 60px;
	}

	.case__title {
	    line-height: 50px;
	}

	.request {
		padding-top: 100px;
	}

	.request__inner {
		width: 80%;
	}

	.subscribe__categ--footer {
		display: none;
	}

	.contact__inner {
		padding-left: 5%;
	}

	.case__title h5{
		font-size: 50px;
	    margin-bottom: 25px;
	}

	.case__title h4{
		padding-top: 15%;
    	text-align: center;
	}

	.contact__icon {
	    margin-bottom: 13%;
	}

	.case__title--white {
	    font-size: 42px;
	    text-align: center;
	}
}
